.App {
  height: 120vh;
  display: grid;
  background-color: skyblue;
  justify-content: center;
  align-content: center;
  text-align: center;
}

/* .App #em{
  background-color: cornsilk;
  margin-bottom: 5px;
  width:75%;
  font-size: 12px;
  font-display: 10px;
  height:30px;

} */
.App #jay{
  background-color: whitesmoke;
  margin-right: 50px;
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
}
 
.App #fn{
  color: black;
  background-color: cornsilk;
  margin-bottom: 5px;
  width: 75%;
  font-size: 12px;
  height:30px;
}
.App #mn{
  background-color: cornsilk;
  margin-bottom: 5px;
  color: black;
  width:75%;
  font-size: 12px;
  height:30px;
}

video.App #mn{
  background-color: cornsilk;
  margin-bottom: 5px;
  color: black;
  width:75%;
  font-size: 12px;
  height:30px;
}
.App #ln{
  background-color: cornsilk;
  margin-bottom: 5px;
  color: black;
  width:75%;
  font-size: 12px;
  height:30px;
}
.App #fa{
  background-color: cornsilk;
  margin-bottom: 5px;
  color: black;
  width:75%;
  font-size: 12px;
  height:30px;
}
.App #vi{
  background-color: cornsilk;
  margin-bottom: 5px;
  color: black;
  width:75%;
  font-size: 12px;
  height:30px;
}
.App #ma{
  background-color: cornsilk;
  margin-bottom: 5px;
  color: black;
  width:75%;
  font-size: 12px;
  height:30px;
}
.App #do{
  background-color: cornsilk;
  margin-bottom: 5px;
  color: black;
  width:75%;
  font-size: 12px;
  height:30px;
}
.App #ge{
  background-color: cornsilk;
  margin-bottom: 5px;
  color: baquamarine;
  width:75%;
  font-size: 12px;
  height:30px;
}

.App #lo{
  background-color: cornsilk;
  margin-bottom: 5px;
  color: black;
  width:75%;
  font-size: 12px;
  height:30px;
}
.App #ad{
  background-color: cornsilk;
  margin-bottom: 5px;
  color: black;
  width: 75%;
  font-size: 12px;
  height:30px;
}
.App #ph{
  background-color: cornsilk;
  margin-bottom: 5px;
  width:75%;
  font-size: 12px;
  height:30px;
}

.App #fe{
  background-color: cornsilk;
  margin-bottom: 5px;
  width: 50%;
  font-size: 12px;
  height:30px;
  margin-right: 25px;
}

.App #cr{
  background-color: cornsilk;
  margin-bottom: 5px;
  width: 50%;
  font-size: 12px;
  height:30px;
  margin-right: 100px;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: red;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: blue;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.column
{
  float:left;
  width:50%

}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}
